@charset "utf-8";

//mainText
@keyframes rotate-txt{
	0%{
		transform:rotateY(90deg) translateY(-200%);
		opacity:0;
	}
	100%{
		transform:rotateY(0deg) translateY(0);
		opacity:1;
	}
}
//mainBg
@keyframes color-change-2x{
	0%{
		background:#19DCEA;
	}
	100%{
		background:#B22CFF;
	}
}
.color-change-2x{
	-webkit-animation:color-change-2x 5s linear infinite alternate both;
	animation:color-change-2x 5s linear infinite alternate both;
}
//navigationBtn
@keyframes inM{
	50%{transform:rotate(0deg);}
	100%{transform:rotate(45deg);}
}
@keyframes outM{
	50%{transform:rotate(0deg);}
	100%{transform:rotate(45deg);}
}
@keyframes inT{
	0%{transform:translateY(0px) rotate(0deg);}
	50%{transform:translateY(9px) rotate(0deg);}
	100%{transform:translateY(9px) rotate(135deg);}
}
@keyframes outT{
	0%{transform:translateY(0px) rotate(0deg);}
	50%{transform:translateY(9px) rotate(0deg);}
	100%{transform:translateY(9px) rotate(135deg);}
}
@keyframes inBtm{
	0%{transform:translateY(0px) rotate(0deg);}
	50%{transform:translateY(-9px) rotate(0deg);}
	100%{transform:translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
	0%{transform:translateY(0px) rotate(0deg);}
	50%{transform:translateY(-9px) rotate(0deg);}
	100%{transform:translateY(-9px) rotate(135deg);}
}
//textAnimation
.animate{
	transition-delay:.1s;
	transition-duration:.5s;
	transition-timing-function:cubic-bezier(1.000, 0.025, 0.565, 0.920);
}
.animation{
	transform-style:preserve-3d;
	opacity:0;
	transform:scale(0, 1) rotateX(10deg) rotateY(90deg) rotateZ(10deg) translateY(300px);
}
.animation.animate-active{
	opacity:1;
	transform:scale(1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0);
}
