@charset "utf-8";

//@import "animation","header","content","footer","mixins";
@import "animation", "mixins";

//reset
body, section, main, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{margin:0;padding:0}
body, input, textarea, select, button, table{font-family:'Montserrat', 'Noto Sans', sans-serif;line-height:1.25}
body{-webkit-text-size-adjust:none}
img, fieldset{border:0}
ul, ol{list-style:none}
em, address{font-style:normal}
a{color:#000;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
button{background:none;border:0}
//::selection{background-color:transparent;color:#000}

//mainColor

//layout
body{
	overflow:hidden;
	overflow-y:scroll;
}
main{
	position:relative;
	width:100vw;
	height:100vh;
}
section{
	display:table;
	position:relative;
	width:100vw;
	min-height:100%;
	.inner-content{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}
}

//mediaQuery
@media (min-width:320px) and (max-width:352px){
	html{font-size:0.625rem}
}
@media (min-width:353px) and (max-width:384px){
	html{font-size:0.6875rem}
}
@media (min-width:385px) and (max-width:416px){
	html{font-size:0.75rem}
}
@media (min-width:417px) and (max-width:448px){
	html{font-size:0.8125rem}
}
@media (min-width:449px) and (max-width:480px){
	html{font-size:0.875rem}
}
@media (min-width:481px) and (max-width:512px){
	html{font-size:0.9375rem}
}
@media (min-width:513px) and (max-width:544px){
	html{font-size:1rem}
}
@media (min-width:545px) and (max-width:576px){
	html{font-size:1.063rem}
}
@media (min-width:577px) and (max-width:608px){
	html{font-size:1.125rem}
}
@media (min-width:609px) and (max-width:639px){
	html{font-size:1.188rem}
}
@media (min-width:640px) and (max-width:672px){
	html{font-size:1.25rem}
}
@media (min-width:673px) and (max-width:723px){
	html{font-size:1.313rem}
}
@media (min-width:724px) and (max-width:773px){
	html{font-size:1.375rem}
}
@media (min-width:774px) and (max-width:823px){
	html{font-size:1.438rem}
}
@media (min-width:824px) and (max-width:873px){
	html{font-size:1.5rem}
}
@media (min-width:874px) and (max-width:923px){
	html{font-size:1.563rem}
}
@media (min-width:924px) and (max-width:973px){
	html{font-size:1.625rem}
}
@media (min-width:974px) and (max-width:1023px){
	html{font-size:1.688rem}
}
@media (min-width:1024px){
	html{font-size:1.75rem}
}
