@charset "utf-8";

header{
	position:fixed;left:0;right:0;z-index:30;
	padding:20px;

	.home-btn{
		position:relative;
		float:right;
		font-size:28px;
	}

	.back-btn{position:relative;
		float:left;
		font-size:28px;
	}

	&:before{
		content:'';
		display:block;
		position:fixed;top:0;left:0;
		width:250vw;height:auto;padding-top:250vw;
		transform:scale(0, 0) translate(-50%, -50%);
		transform-origin:-100% 0;
		background:#D6372E;border-radius:50%;
		transition:all 1s cubic-bezier(0.77, 0, 0.175, 1);
	}

	&.active{
		nav{
			display:block;
		}
		&:before{
			transform:scale(1, 1) translate(-50%, -50%);
			transition:all 1s cubic-bezier(0.77, 0, 0.175, 1);
		}
		.home-btn{
			color:#FFF;
		}
	}
	&.active .menu-btn i{
		background-color:#fff;
	}
	&.active .menu-btn i:nth-child(1){
		animation:inT 0.8s forwards;
	}
	&.active .menu-btn i:nth-child(2){
		animation:inM 0.8s forwards;
	}
	&.active .menu-btn i:nth-child(3){
		animation:inBtm 0.8s forwards;
	}
}
nav{
	display:none;
	position:fixed;top:50%;left:0;z-index:10;
	width:100%;
	transform:translateY(-50%);
	li{
		display:block;
		padding:2% 2% 2% 5%;
		color:#000;font-size:4rem;font-weight:800;text-align:left;
		animation-name:rotate-txt;animation-duration:1s;animation-fill-mode:both;
		&:nth-child(1){
			animation-delay:.4s;
		}
		&:nth-child(2){
			animation-delay:.6s;
		}
		&:nth-child(3){
			animation-delay:.8s;
		}
		&:nth-child(4){
			animation-delay:1s;
		}

		a{
			display:inline-block;
			color:#FFF;opacity:.5;
			transition:opacity .5s ease-in;
			&:hover{
				opacity:1;
				transition:opacity .15s ease-in-out;
			}
		}
	}
}
.menu-btn{
	float:left;
	width:30px;height:25px;
	font-size:20px;font-weight:700;

	i{
		position:relative;z-index:1;
		content:'';
		display:block;
		width:100%;
		height:4px;
		background-color:#000;
		border-radius:2px;
		&:nth-child(1){
			-webkit-animation:outT 0.8s backwards;
			animation:outT 0.8s backwards;
			-webkit-animation-direction:reverse;
			animation-direction:reverse;
		}
		&:nth-child(2){
			margin:5px 0;
			-webkit-animation:outM 0.8s backwards;
			animation:outM 0.8s backwards;
			-webkit-animation-direction:reverse;
			animation-direction:reverse;
		}
		&:nth-child(3){
			-webkit-animation:outBtm 0.8s backwards;
			animation:outBtm 0.8s backwards;
			-webkit-animation-direction:reverse;
			animation-direction:reverse;
		}
	}
}

@media (min-width:320px) and (max-width:1023px){
	header{
		&:before{
			width:350vw;padding-top:350vw;
		}
	}
}