@charset "utf-8";

$pointColor:#D6372E;

@import  "animation", "header";

//reset
body, section, main, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{margin:0;padding:0}
body, input, textarea, select, button, table{font-family:'Montserrat', sans-serif;line-height:1.25}
body{-webkit-text-size-adjust:none}
img, fieldset{border:0}
ul, ol{list-style:none}
em, address{font-style:normal}
a{color:#000;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
button{background:none;border:0}
::selection{
	color:$pointColor
}

//layout
main{
	height:100vh;
}
section{
	display:table;
	table-layout:fixed;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100vh;
	min-height:100%;
	background-color:#F0F0F4;
	.inner-content{
		display:table-cell;
		position:relative;z-index:2;
		padding:5%;
		vertical-align:middle;
		text-align:left;
		box-sizing:border-box;
	}
}

//main
.back-text{
	position:fixed;right:0;bottom:0;
	animation:backTitleAni 5s infinite;
	animation-direction:alternate;
	font-size:13rem;color:#FEFEFE;font-weight:800;

	&:after{
		content:'.';
		color:#D6372E;
	}
}
.main-title{
	position:relative;
	font-size:3.6rem;
	white-space:nowrap;
	span{
		color:#D6372E;
	}
	&:before{
		content:'';
		display:inline-block;
		position:absolute;bottom:.8rem;left:50%;transform:translateX(-50%);
		width:100%;height:1px;
		background:#000;
		animation:scrollLine 2s infinite;
	}
}
.sub-title{
	font-size:12px;
	letter-spacing:.2rem;
}
.description{
	font-size:16px;
	line-height:1.5;
	p{
		margin-bottom:1rem;
	}
	dt{
		padding-right:.3rem;
		color:#888;
		font-size:12px;
	}
}
.button-box{
	margin-top:1rem;
	.button{
		display:inline-block;
		position:relative;
		overflow:hidden;
		min-width:6rem;
		padding:.5rem 1rem;
		box-sizing:border-box;
		border:1px solid #000;
		font-size:15px;font-weight:700;text-align:center;color:#000;
		transition:color .5s;
		&:before{
			content:'';
			position:absolute;top:100%;left:0;z-index:-1;
			width:100%;height:100%;
			background:#000;
			transition:all .5s;
		}
		&:hover{
			color:#FFF;
			transition:color .5s;
			&:before{
				top:0;
				transition:all .5s
			}
		}
	}
}

//footer
.copy-text{
	position:fixed;
	bottom:20px;
	right:20px;
	white-space:nowrap;
	font-size:.4rem;
	color:#000;
	font-weight:600;
}

//mediaQuery
@media (min-width:320px) and (max-width:374px){
	html{font-size:0.75rem}
}
@media (min-width:375px) and (max-width:512px){
	html{font-size:0.9375rem}
}
@media (min-width:513px) and (max-width:544px){
	html{font-size:1rem}
}
@media (min-width:545px) and (max-width:576px){
	html{font-size:1.063rem}
}
@media (min-width:577px) and (max-width:608px){
	html{font-size:1.125rem}
}
@media (min-width:609px) and (max-width:639px){
	html{font-size:1.188rem}
}
@media (min-width:640px) and (max-width:672px){
	html{font-size:1.25rem}
}
@media (min-width:673px) and (max-width:723px){
	html{font-size:1.313rem}
}
@media (min-width:724px) and (max-width:773px){
	html{font-size:1.375rem}
}
@media (min-width:774px) and (max-width:823px){
	html{font-size:1.438rem}
}
@media (min-width:824px) and (max-width:873px){
	html{font-size:1.5rem}
}
@media (min-width:874px) and (max-width:923px){
	html{font-size:1.563rem}
}
@media (min-width:924px) and (max-width:973px){
	html{font-size:1.625rem}
}
@media (min-width:974px) and (max-width:1023px){
	html{font-size:1.688rem}
}
@media (min-width:1024px){
	html{font-size:1.75rem}
}


@media (min-width:320px) and (max-width:823px){
	section{
		.inner-content{
			padding:74px 7%;
		}
	}

}